<div class="row">
  <div class="col-md-7">

    <% @blocks.reverse.each do |block| %>
    <div class="draggable block" style="left:<%=@left_position += 50%>px; top:<%=@top_position -= 150%>px;">
      <div class="block-title">
        <h1><div class="icon-my-computer"></div>Block <%= block.id%></h1>
      </div>
      <div class="block-inner">
        <p>PREVIOUS HASH: <%=block.prev_hash%></p>
        <p>OWN HASH: <%=block.own_hash%></p>
        <p><%= block.transfer.recipient.public_key[71, 15]%> Sent <%=block.transfer.amount%> EPICOINS to <%=block.transfer.recipient.public_key[71, 15]%></p>
      </div>
      <div class="statusbar">
        <div class="left">Block <%= block.id%></div>
        <div class="right">&nbsp;</div>
      </div>
    </div>
    <%end%>

  </div>
  <div class = "col-md-5">
    <div id="terminal" class="draggable block">
      <div class="block-title">
        <div class="pull-right">
          <button class="minimize"><span class="fa fa-minus"></span></button>
          <button class="expand"><span class="fa fa-square-o"></span></button>
          <button class="times"><span class="fa fa-times"></span></button>
        </div>

        <h1><div class="icon-my-computer"></div>Console</h1>
      </div>
      <div id="terminal-inner" class="block-inner" style="padding: 0 !important;">
        <script>var peersNames = [];</script>
        <% @peers.each do |peer| %>
          <script>peersNames.push('<%=peer.name%>');</script>
        <% end %>
        <script>
          var term = new Terminal()
          term.setHeight("400px")
          term.setWidth('100%')
          $("#terminal-inner").append(term.html)

          term.print('*****************************************')
          term.print('******** Welcome to Basechain!! *********')
          term.print('*****************************************')
          term.print('List of supported commands: ')
          term.print('(peers) - List all peers')
          term.print('(transfers) - List all transfers')
          term.print('(key) - Generate a key pair')
          term.print('(mine) - Mine a block')
          term.print('(send) - Transfer Epicoin')
          term.print('(help) - List all commands')
          term.print('*****************************************')
          for(i = 0; i < 100; i++) {
            term.input('', function (choice) {
              switch (choice) {
                case 'peers':
                {
                  var numberOfPeers = <%=@peers.length%>;
                  term.print('Number of peers: ' + numberOfPeers);
                  for(i=0; i < peersNames.length; i++) {
                    console.log(peersNames[i]);
                    term.print(peersNames[i]);
                  }
                  break;
                }
                case 'transfers':
                {
                  var numberOfTransfers = <%=@transfers.length%>;
                  term.print('Number of transfers: ' + numberOfTransfers);
                  break;
                }
                case 'key':
                {
                  term.print('Keys:');
                  break;
                }
                case 'mine':
                {
                  term.print('mining.............');
                  break;
                }
                case 'send':
                {
                  term.print('Send EPIC:');
                  break;
                }
                case 'help':
                {
                  term.print('*****************************************')
                  term.print('List of supported commands: ')
                  term.print('(peers) - List all peers')
                  term.print('(transfers) - List all transfers')
                  term.print('(key) - Generate a key pair')
                  term.print('(mine) - Mine a block')
                  term.print('(send) - Transfer Epicoin')
                  term.print('(help) - List all commands')
                  term.print('*****************************************')
                  break;
                }
              }
            });
          }
        </script>
      </div>
    </div>
  </div>
</div>
